<<<<<<< HEAD
<h1>StaticPage#home</h1>
<p>Find me in app/views/static_page/home.html.erb</p>
=======
<div class="home">
  <h1>welcome to the billboad chart topping song stuffs. this is where you decide what to put on the top of the charts</h1>
</div>
>>>>>>> song
