<h1>songs</h1>
<%= link_to 'new song', new_art_song_path(@art) %>

<ul>
  <% @songs.each do |songs| %>
<li><%= link_to songs.name, [@art, songs] %></li>
<% end %>
</ul>
<%= link_to 'show', art_songs_path(@art) %>
