<h1><%= @bd.name %></h1>

<ul>



<% @bd.songs.each do |songs| %>

<li><p>song: <%= songs.name %></p></li>

<% end %>
</ul

<%= link_to 'Edit billboard', edit_billboard_path(@bd) %>
<%= link_to 'remove billboard', billboard_path(@bd), method: :delete %>
